{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['sensu', 'python-pip', 'ruby-bunny'],
        'mine_checks': True,
    },
    'RedHat': {
        'pkgs': ['sensu'],
        'mine_checks': True,
    },
}, merge=salt['pillar.get']('sensu:server')) %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['sensu', 'nagios-plugins-basic', 'curl', 'bc'],
        'plugin': {}
    },
    'RedHat': {
        'pkgs': ['sensu', 'nagios-plugins-ping', 'nagios-plugins-procs', 'nagios-plugins-load', 'nagios-plugins-swap', 'nagios-plugins-ntp', 'nagios-plugins-http', 'nagios-plugins-disk', 'net-snmp-utils', 'pynag', 'bc'],
        'plugin': {}
    },
}, merge=salt['pillar.get']('sensu:client')) %}

{% set dashboard = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['uchiwa',],
    },
    'RedHat': {
        'pkgs': ['uchiwa'],
    },
}, merge=salt['pillar.get']('sensu:dashboard')) %}
