Source: salt-formula-sensu
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-sensu
Vcs-Git: https://github.com/tcpcloud/salt-formula-sensu.git

Package: salt-formula-sensu
Architecture: all
Depends: ${misc:Depends}
Description: Sensu salt formula
 Configure Sensu operating system.
